New task <input type="text" ng-model="newTask"> by 

<select ng-model="newPublisher" ng-options="publisher.username for publisher in publishers"></select> 

<button ng-click="save()">Create</button>

Search: <input type="text" ng-model="search.name">
<ul>
	<li ng-repeat="task in tasks | filter: search">
	
		<input type="checkbox" ng-model="task.completed" ng-change="update($index);">
		<a href="#/task/{{task._id}}">{{task.name}}</a> 
		
		by 
		<select 
			ng-model="task.publisher._id" 
			ng-options="publisher._id as publisher.username for publisher in publishers" 
			ng-change="update($index);"></select> 
		
		assigned to 
		<select 
			ng-model="task.assignee._id" 
			ng-options="publisher._id as publisher.username for publisher in publishers" 
			ng-change="update($index);">
		</select>
		
		<!--<button ng-click = "update($index);">update</button> -->
		<button ng-click = "remove($index);">delete</button>
	</li>
</ul>

<a href = "#/users">Manage Users</a>
<a href = "#/tasks">Manage Tasks</a>
<a href = "#/publishers">Manage Publishers</a>